<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
    <br>
    <%= f.label :country %>
    <%= f.text_field :country %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <br>
    <%= f.label :categories %>
    <%= collection_select(:supplier, :category_ids, Category.all, :id, :name, {:selected => @supplier.category_ids}, {:multiple => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
