<% content_for :custom_js do %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{@apikey}&libraries=geometry&sensor=false" %>
<% end %>

<h1>Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.name, supplier, :data => {no_turbolink: true} %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.zip %></td>
        <td><%= supplier.country %></td>
        <td><%= mail_to supplier.email %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.category.name if supplier.category_id? and supplier.category != nil %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Delete', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>

<div id="map" />
