<% content_for :custom_js do %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{@apikey}&libraries=geometry&sensor=false" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>
  <%= @supplier.name %>
</h1>

<p>
  <%= @supplier.address %><br>
  <%= @supplier.zip %><br>
  <%= @supplier.country %><br>
</p>

<p>
  <%= mail_to @supplier.email %>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Category:</strong>
  <%= @supplier.category.name if @supplier.category_id? %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path, :data => {no_turbolink: true} %>

<div id="map" />
