<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @supplier.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supplier.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @supplier.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Category:</strong>
  <%= @supplier.category.name if @supplier.category_id? %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
