<!DOCTYPE html>
<html>
<head>
  <title>Milkman</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :custom_js %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topbanner">
    <p>Milk<b>man</b></p>
    <ul>
      <li><%= link_to "Home", "/", :data => {no_turbolink: true} %></li>
      <li><%= link_to "Suppliers", "/suppliers", :data => {no_turbolink: true} %></li>
      <li><%= link_to "Categories", "/categories" %></li>
      <li><%= link_to "About" %></li>
    </ul>
  </div>  
  <div id="content">
  <%= yield %>
  </div>
  <div id="milk"></div>
</body>
</html>
